@tailwind base;
@tailwind components;
@tailwind utilities;


  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
  .font{
    font-size: 26px;
    font-weight: bold;
  }
  #FormInput{
    width :100%;
    background-color: rgb(175, 178, 177);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  #font{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
  }
  input , textarea , button{
    margin-top: 10%;
    text-align: center;
  }