<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='style.css'>
  <title></title>
</head>
<body>
<div class="main">
    <nav>
        <div class="circle"></div>
      <ul>
        <li><a href='#'>Home</a></li>
        <li><a href='#'>About</a></li>
        <li><a href='#'>Services</a></li>
        <li><a href='#'>Contact</a></li>
      </ul>
        <button></button>
    </nav>
    <div class="container">
        <div id="left-box"></div>
        <div id="right-box">
            <h1>Cards:</h1>
            <div class="cards">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
            <h1 class="text" >Content:</h1>
            <div class="right-footer"></div>
        </div>
    </div>
    <div class="footer">
        
    </div>
</div>
</body>
</html>