* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,
body {
    min-height: 100vh;
    width: 100%;
}
.container{
    display: grid;
    width: 855px;
    height: 855px;
    border: 2px solid red;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(15,1fr);
    gap: 3px;
    /* place-items: center; */
}
header{
    grid-column-start:1;
    grid-column-end:16 ;
    background-color: black;
    .box{
      width: 45px;
      height: 45px;
      justify-self:center;
      align-self:center ;
      background-color: aqua;
    }
}
aside{
    /* grid-row-start:2;
    grid-row-end:16; */

    /* grid-column-end:4;
    grid-column-start:1; */
    /* 2 type of grid which use  */
    grid-column: 1 /span 5;
    grid-row: 2 /span 16;
    background-color: black;
    color: white;
}
