* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,
body {
    min-height: 100vh;
    width: 100%;
}
.container{
    display: grid;
    width: 1255px;
    height: 755px;
    border: 4px solid rgb(0, 0, 0);
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    gap: 3px;
}
header{
    grid-column-start: 1;
    grid-column-end: 9;
    background-color: rgb(255, 255, 127);
}
.left{
    grid-column:1/ span 2;
    grid-row: 2 / span 6;
    background-color: rgb(245, 238, 165); 
}
.middle{
    grid-column:3/ span 4;
    grid-row: 2 / span 6;
    background-color: rgb(255, 236, 26);
}
.right{
    grid-column:7/ span 2;
    grid-row: 2 / span 6;
    background-color: rgb(245, 238, 165); 
}
footer{
    grid-column-start: 1;
    grid-column-end: 9;
    background-color: rgb(255, 255, 127);
}