* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,
body {
    min-height: 100vh;
    width: 100%;
    color: #999;
    background-color: rgb(15, 18, 21);
    scroll-behavior: smooth;
}
